extend ../layouts/default_layout.pug
block content 
    .contact
        .navigate.container.container__base
            +navigate__mixin("Liên hệ")
        .contact__map
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11812.106285550453!2d106.42309333622846!3d20.27966219526542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313600b6f2b332eb%3A0x9cf5294d4bda13fa!2zVHLGsOG7nW5nIFRIUFQgR2lhbyBUaOG7p3k!5e0!3m2!1svi!2s!4v1691489827502!5m2!1svi!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        .contact__info.container.container__base
            .row
                .col-6
                    .contact__form 
                        form(action="contact", method="post") 
                            .contact__title 
                                span THÔNG TIN LIÊN HỆ
                            +input__text__mixin("Họ và tên", "name", "name")
                            +input__text__mixin("Email của bạn", "email", "email")
                            +input__text__mixin("Số điện thoại", "phonenumber", "phonenumber")
                            .textarea 
                                label(for="cmt") Bình luận 
                                textarea(name="cmt", cols="30", rows="10" placeholder="Bình luận,...") 
                .col-6 
                    .contact__desc 
                        .logo 
                            img(src="./assets/images/GreenShop.png", alt="logo")
                        p DKT được thành lập với niềm đam mê và khát vọng thành công trong lĩnh vực thương mại điện tử. Chúng tôi đã và đang khẳng định được vị trí hàng đầu  bằng những sản phẩm 
                        div 
                            div.phone 
                                i.fa-solid.fa-phone
                                span Điện thoại: +84.999.99999
                            div.email
                                i.fa-regular.fa-envelope
                                span Email: dinhtranuty@gmail.com


