extend ../layouts/default_layout.pug
block content 
    h1 Homepage
    a(href="./news.pug") go to NewsPage
    br
    a(href="./contact.pug") go to Contact234
    br
    a(href="./abc.pug") go to abcdd