.cart {
  .cart__main {
    padding-bottom: 214px;
    .cart__title {
        font-weight: bold;
        color: $text-green;
        font-size: 1.28rem;
        padding: 3rem 0 1rem 0;
        margin-bottom: 1rem;
        @include flex-between;
        span{
          text-transform: uppercase;
          padding-bottom: 5.7rem;
        }
    }

    .cart__table {
      padding-bottom: 45px;
    }

    .cart__pay {
      padding-top: 70px;
      padding-bottom: 36px;

      table {
        width: 60% !important;
        th, td {
          padding: 30px !important;
        }
      }
    }
  }
}

table {
  width: 100%;
  border-color: $border-color-table;
  th, td {
    padding: 16px;
  }

  th {
    text-transform: uppercase;
    color: white;
    background: $text-green;
  }

  td {
    color: $third-color;
    &.img {
      width: 152px;
      height: 157px;
    }
    img {
      height: 100%;
    }

    &.quantity {
      p {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: 1px solid $border-color-product;
        text-align: center;
        line-height: 40px;
        margin: auto;
      }
    }
  }
}

