header 
    .header__top 
        .header__top__container.container.container__base
            .header__top__left.h-100
                ul 
                    li 
                        span
                            i.fa-solid.fa-clock
                        a(href="#") Open time: 8:00 - 18:00 Monday - Sunday
                    li 
                            
                        a(href="#") 
                            i.fa-brands.fa-facebook
                    li 
                        a(href="#")
                            i.fa-brands.fa-twitter
                    li 
                        a(href="#")
                            i.fa-brands.fa-tiktok
                    li 
                        a(href="#")
                            i.fa-brands.fa-vimeo-v
            .header__top__right.h-100
                ul 
                    li 
                        span
                            i.fa-solid.fa-user
                        a(href="#") Đăng nhập
                    li 
                        span
                            i.fa-solid.fa-user-plus
                        a(href="#") Đăng ký
    .header__main 
        .header__main__container.container.container__base 
            .header__main__left 
                .header__logo 
                    img(src="./assets/images/GreenShop.png", alt="logo")
                .header__product
                    img(src="./assets/images/header-img.png", alt="cay")
            .header__main__right
                .header__action.position-relative 
                    .header__contact.text-uppercase.position-absolute.top-0.start-50.translate-middle Liên hệ hỗ trợ: 0123456789
                    input( placeholder="Tìm kiếm....")
                    i.fa-solid.fa-magnifying-glass.position-absolute.top-50.translate-middle.csp
                .header__cart
                    a(href="./cart.html")
                        i.fa-solid.fa-bag-shopping
                        span 0 Sản phẩm

    .header__nav
        .header__nav__container.container.container__base
            ul.text-uppercase
                li  
                    button 
                        i.fa-solid.fa-bars
                li 
                    a(href="./index.html") Trang chủ
                li 
                    a(href="#") Giới thiệu
                li 
                    a(href="./products.html") sản phẩm
                    span 
                        i.fa-solid.fa-angle-down.fa-fade
                li 
                    a(href="#") sản phẩm mới
                    span 
                        i.fa-solid.fa-angle-down.fa-fade
                li 
                    a(href="./news.html") tin tức 
                li 
                    a(href="#") liên hệ